#div_id_honeypot {
    display: none;
}

#cancel_reply {
    display: none;
}

.comments #cancel_reply {
    display: inline;
}

.comment_user {
    text-decoration: underline;
    margin-right: 10px;
    font-weight: bold;
    color: #2a6496;
    font-size: .99em;
    cursor: pointer;
    float: left;
}

.comments_length {
    padding-left: 15px;
    font-weight: bold;
}

.comment_text {
    margin-top: 10px;
    float: inherit;
    font-size: 1.08em;
    color: black;
}

.comment_reply_link {
    color:#c7254e;
    outline:none;
    text-decoration: none;
    vertical-align: baseline;
}

#form-comment {
    padding: 15px;
    margin: 15px;
    background-color: #b2dba1;;
}