<!DOCTYPE html>
{% extends "sblog/blog_base.html" %}
{% block title %} 发布文字 {% endblock %}

{% block content %}
    {% block article %}
        <form action="" method="post" >
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                    <div class="col-md-2">
                        <h4>{{ field.label_tag }}</h4>
                    </div>
                    <div class="col-md-2">
                        {{ field }}<span style="color: red;">{{ field.errors }}</span>
                    </div>
                </div>
            {% endfor %}

            {% comment 用于判断form.is_valid()为False的原因 %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            {% endcomment %}
            <div>
                <input class="btn btn-primary" type="submit" value="Save&Add">
            </div>
        </form>
    {% endblock %}
{% endblock %}