<!DOCTYPE html>
{% extends "sblog/base.html" %}

{% block extra_head %}
    <style>
        body{
            padding-top: 60px;
        }
    </style>
{% endblock %}

{% block header %}
    {% block menu %}
        <nav class="navbar navbar-inverse " role="navigation">
            <div class="navbar-inner">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">BLOG</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li class="active divider-vertical">
                            <a href="{% url 'sblog:bloglist' %}">home</a>
                        </li>
                        <li>
                            <a href="#">about</a>
                        </li>
                        <li>
                            <a href="#">contact</a>
                        </li>
                </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
{% endblock %}